body {
    font-family: roboto;
}

.logo {
    width: 2%;
    height: auto;
    // padding: 10px;
    margin: 10px 15px -3px 15px;
}

// ul {
//     list-style-type: none;
//     margin: -2% 5px 10px 17%;
//     padding: 0 5px 2px 4px;
//     overflow: hidden;
// }

//  li {
//     float: left;
    
//  }

// li:last-child {
//     border-right: none;
// }

